<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <block>{% block title %}{% endblock %}</block>
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css" rel="stylesheet" integrity="sha256-gJ9rCvTS5xodBImuaUYf1WfbdDKq54HCPz9wk8spvGs= sha512-weqt+X3kGDDAW9V32W7bWc6aSNCMGNQsdOpfJJz/qD/Yhp+kNeR+YyvvWojJ+afETB31L0C4eO0pcygxfTgjgw==" crossorigin="anonymous">
        <style>
            .auth-form {
                width: 400px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -200px;
                margin-top: -200px;
            }
        </style>
    </head>

    <body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    </body>
</html>
